{% load staticfiles %}
{% load sass_tags %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

    <link href="{% sass_src 'scss/styles.scss' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}Mahsa Mohammadi{% endblock %}</title>
    {% block headers %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="/" class="nav-title">Mahsa Mohammadi</a>
          <ul class="right hide-on-med-and-down">
            <li class="{% ifequal page 'home' %}active{% endifequal %}"><a href="/">Home</a></li>
            <li class="{% ifequal page 'cv' %}active{% endifequal %}"><a href="/cv/">CV</a></li>
            <li class="{% ifequal page 'statement' %}active{% endifequal %}"><a href="/statement/" >Artist Statement</a></li>
            <li class="{% ifequal page 'techniques' %}active{% endifequal %}"><a href="/techniques/">Work</a></li>
            <li class="{% ifequal page 'publications' %}active{% endifequal %}"><a href="/publications/" >Publication</a></li>
            <li class="{% ifequal page 'contact' %}active{% endifequal %}"><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li class="{% ifequal page 'home' %}active{% endifequal %}"><a href="/">Home</a></li>
      <li class="{% ifequal page 'cv' %}active{% endifequal %}"><a href="/cv/">CV</a></li>
      <li class="{% ifequal page 'statement' %}active{% endifequal %}"><a href="/statement/" >Artist Statement</a></li>
      <li class="{% ifequal page 'techniques' %}active{% endifequal %}"><a href="/techniques/">Work</a></li>
      <li class="{% ifequal page 'publications' %}active{% endifequal %}"><a href="/publications/" >Publication</a></li>
      <li class="{% ifequal page 'contact' %}active{% endifequal %}"><a href="/contact/">Contact</a></li>
    </ul>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.sidenav');
       var instances = M.Sidenav.init(elems, {});
     });
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
