{% extends 'base.html' %}
{% load gallery_tags %}

{% block title %}
  {{ block.super }} | Techniques
{% endblock %}

{% block content %}
  <div class="images-container">
    <div class="row">
      {% for tec in techniques %}
        <div class="col s6 l4 image-item">
          <a href="{% url 'technique_detail' tec.id %}">
            <img class="img-cat" src={% image_url tec.image_id 500 500 %}>
            <div class="overlay">{{ tec.name }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
